body
{
	margin: 0;
	font-family: Montserrat;
}

#content
{
	background-color: #ebebeb;
	box-shadow: 0vh 0vh 0.4vh #222222;
	margin: 5vh;
}

#footer
{
	font-size: 1.8vh;
	text-align: center;
	padding: 2.5vh;
	border-top: #C5C5C5 0.2vh solid;
}

a
{
	color:#464646;
	text-decoration: underline;
}

h1
{
	font-size: 5vh;
	text-align: center;
	padding: 2.5vh;
	border-bottom: #C5C5C5 0.2vh solid;
}

h2
{
	font-size: 3vh;
	text-align: center;
	padding:0;
	margin:0;
}

.axisEnd
{
	display: inline-block;
	width:15vh;
	height: 15vh;
	vertical-align: middle;
	z-index: 3;
	position:relative;
}
.axisEnd > img
{
	width:100%;
	position: relative;
	left: 5vh;
}
.axisEndLeft > img
{
	left: 5vh;
}
.axisEndRight > img
{
	left: -5vh;
}
.axisProgress
{
	display: inline-block;
	width:calc(100% - 30vh);
	height: 15vh;
	vertical-align: middle;
}
.axisSubProgress
{
	display: inline-block;
	height:5vh;
	margin-top:5vh;
	color: white;
	font-size: 3.2vh;
	box-shadow: 0vh 0vh 0.4vh #222222;
	z-index: 2;
	position:relative;
}

.question
{
	text-align: center;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:4vh;
	padding:4vh;
	height: 15vh;
}

.buttonQuestion, .button
{
	text-align: center;
	width:35vh;
	margin-top: 0;
	margin-bottom: 1vh;
	padding:1vh;
	margin-left:auto;
	margin-right:auto;
	display:block;
    border: none;
    border-radius: 0.5vh;
}

.button
{
	background-color: #D7CFBA;
	margin-top:6vh;
}

.buttonQuestion
{
	color: white;
}

.axisNeutral
{
	background-color: #ebebeb;
	color: black;
	text-align: center;
	z-index: 1;
	position:relative;
}
.axisConstructivism
{
	background-color: #a425b6;
	text-align: right;
}
.axisEssentialism
{
	background-color: #34b634;
	text-align: left;
}
.axisInternationalism
{
	background-color: #3e6ffd;
	text-align: right;
}
.axisNationalism
{
	background-color: #ff8500;
	text-align: left;
}
.axisCommunism
{
	background-color: #cc0000;
	text-align: right;
}
.axisCapitalism
{
	background-color: #ffb800;
	text-align: left;
}
.axisProgressism
{
	background-color: #850083;
	text-align: right;
}
.axisConservatism
{
	background-color: #970000;
	text-align: left;
}
.axisEcology
{
	background-color: #a0e90d;
	text-align: right;
}
.axisProductivism
{
	background-color: #4deae9;
	text-align: left;
}
.axisLiberal
{
	background-color: #14bee1;
	text-align: right;
}
.axisAuthoritarism
{
	background-color: #e6cc27;
	text-align: left;
}
.axisRevo
{
	background-color: #eb1a66;
	text-align: right;
}
.axisRefo
{
	background-color: #0ee4c8;
	text-align: left;
}
.bonusList
{
	text-align:center;
}
.bonus
{
	width:15vh;
	height: 15vh;
}
