{% include header.html %}

<h2></h2>

<h2>{{ site.t[page.language].help_whois }}</h2>

<p class="simpleText">{{ site.t[page.language].help_desc }}</p>

<h2>{{ site.t[page.language].constructivism }} / {{ site.t[page.language].essentialism }}</h2>

<div class="description"><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/constructivism.png" alt="{{ site.t[page.language].constructivism }}"/></div><!--
--><div class="descText"><!--
	--><p>{{ site.t[page.language].help_constructivism1 }}</p><!--
	--><p>{{ site.t[page.language].help_constructivism2 }}</p><!--
	--><p>{{ site.t[page.language].help_constructivism3 }}</p><!--
--></div><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/essentialism.png" alt="{{ site.t[page.language].essentialism }}" class="descImgRight"/></div><!--
--></div>

<h2>{{ site.t[page.language].justice_soft }} / {{ site.t[page.language].justice_hard }}</h2>

<div class="description"><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/justice_soft.png" alt="{{ site.t[page.language].justice_soft }}"/></div><!--
--><div class="descText"><!--
	--><p>{{ site.t[page.language].help_justice1 }}</p><!--
	--><p>{{ site.t[page.language].help_justice2 }}</p><!--
--></div><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/justice_hard.png" alt="{{ site.t[page.language].justice_hard }}" class="descImgRight"/></div><!--
--></div>

<h2>{{ site.t[page.language].progressism }} / {{ site.t[page.language].conservatism }}</h2>

<div class="description"><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/progressism.png" alt="{{ site.t[page.language].progressism }}"/></div><!--
--><div class="descText"><!--
	--><p>{{ site.t[page.language].help_progressism1 }}</p><!--
	--><p>{{ site.t[page.language].help_progressism2 }}</p><!--
--></div><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/conservatism.png" alt="{{ site.t[page.language].conservatism }}" class="descImgRight"/></div><!--
--></div>

<h2>{{ site.t[page.language].internationalism }} / {{ site.t[page.language].nationalism }}</h2>

<div class="description"><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/internationalism.png" alt="{{ site.t[page.language].internationalism }}"/></div><!--
--><div class="descText"><!--
	--><p>{{ site.t[page.language].help_internationalism1 }}</p><!--
	--><p>{{ site.t[page.language].help_internationalism2 }}</p><!--
--></div><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/nationalism.png" alt="{{ site.t[page.language].nationalism }}" class="descImgRight"/></div><!--
--></div>

<h2>{{ site.t[page.language].communism }} / {{ site.t[page.language].capitalism }}</h2>

<div class="description"><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/communism.png" alt="{{ site.t[page.language].communism }}"/></div><!--
--><div class="descText"><!--
	--><p>{{ site.t[page.language].help_communism1 }}</p><!--
	--><p>{{ site.t[page.language].help_communism2 }}</p><!--
--></div><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/capitalism.png" alt="{{ site.t[page.language].capitalism }}" class="descImgRight"/></div><!--
--></div>

<h2>{{ site.t[page.language].regulationism }} / {{ site.t[page.language].laissez_faire }}</h2>

<div class="description"><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/regulation.png" alt="{{ site.t[page.language].regulationism }}"/></div><!--
--><div class="descText"><!--
	--><p>{{ site.t[page.language].help_regulationism1 }}</p><!--
	--><p>{{ site.t[page.language].help_regulationism2 }}</p><!--
	--><p>{{ site.t[page.language].help_regulationism3 }}</p><!--
--></div><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/laissezfaire.png" alt="{{ site.t[page.language].laissez_faire }}" class="descImgRight"/></div><!--
--></div>

<h2>{{ site.t[page.language].ecology }} / {{ site.t[page.language].productivism }}</h2>

<div class="description"><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/ecology.png" alt="{{ site.t[page.language].ecology }}"/></div><!--
--><div class="descText"><!--
	--><p>{{ site.t[page.language].help_ecology1 }}</p><!--
	--><p>{{ site.t[page.language].help_ecology2 }}</p><!--
--></div><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/productivism.png" alt="{{ site.t[page.language].productivism }}" class="descImgRight"/></div><!--
--></div>

<h2>{{ site.t[page.language].revo }} / {{ site.t[page.language].refo }}</h2>

<div class="description"><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/revolution.png" alt="{{ site.t[page.language].revo }}"/></div><!--
--><div class="descText"><!--
	--><p>{{ site.t[page.language].help_revo1 }}</p><!--
	--><p>{{ site.t[page.language].help_revo2 }}</p><!--
--></div><!--
--><div class="descImg"><img src="{{ site.basepath }}/images/reformism.png" alt="{{ site.t[page.language].refo }}" class="descImgRight"/></div><!--
--></div>

{% include footer.html %}
